.submit-from {
    margin: auto;
    width: 25%;
    border: 1 solid red;

    padding: 25px;
    height: 342px;
}
.submit-from {
    margin: auto;
    width: 25%;
    border: 1 solid red;
    padding: 25px;
    height: 350px;
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    background-color: #fff;
}
.submit-from.mt-5 input {
    padding-right: 90px;

}
span.forgot-password.ps-1.m-0.p-0 {
    color: #0399D5;
    font-size: 15px;
    font-weight: 900;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
    position: relative;
}
button.login.mt-3 {
    padding: 16px 120px;
    border: none;
    font-size: 11px;
    font-family: unset;
    font-weight: 800;
    background: #0399D5;
    color: white;
    border-radius: 12px;
}
small.OR.text-center {
  
    margin-left: 128px;
}
span.forgot-password.ps-1.m-0.p-0 a {
    text-decoration: none;
}
.submit-from.signup.mt-5 {
    height: 500px;
    
}